<h1>ATM View</h1>

<div class="main">
  <section class="display">
    > Welcome, {{ this.account.fname }}
    <br />
  </section>
  <aside class="options">
    <ul class="options-list">
      <li>
        <input
          [(ngModel)]="userInputValue"
          placeholder="Enter $ to deposit / withdraw"
        />
      </li>
      <li class="options-item">
        <button (click)="withdraw()">Make a Widthdrawl</button>
      </li>
      <li class="options-item">
        <button (click)="deposit()" class="btn">Deposit Money</button>
      </li>
      <li class="options-item btn">
        <button (click)="getBalance()">Balance Inquiry</button>
      </li>
      <li class="options-item btn">
        <button (click)="transactions()">Transactions History</button>
      </li>
    </ul>
  </aside>
</div>
