<h1>ATM View</h1>

<div class="main">
  <section class="display">
    <h3>> Welcome, {{ this.bankAccount.fname }} !!</h3>
    <h4><span></span></h4>
    <br />
    <br />
    <br />
    <br />
    <h4>Current Balance: {{ this.bankService.account.balance | currency }}</h4>
    <!-- <h4>Recent Transactions</h4>
    <p *ngFor="let transaction of this.bankAccount.transactions">
      {{ transaction.date }} {{ transaction.type | uppercase }}
      {{ transaction.amount | currency }}
    </p> -->
  </section>
  <aside class="options">
    <ul class="options-list">
      <li>
        <input
          [(ngModel)]="userInputValue"
          placeholder="Enter $ to deposit / withdraw"
        />
      </li>
      <li class="options-item">
        <button (click)="withdraw()">Make a Widthdrawl</button>
      </li>
      <li class="options-item">
        <button (click)="deposit()" class="btn">Deposit Money</button>
      </li>
      <li class="options-item">
        <button (click)="getBalance()" class="btn">Balance Inquiry</button>
      </li>
      <li class="options-item btn">
        <button (click)="transactions()">Transactions History</button>
      </li>
    </ul>
  </aside>
</div>
