<h1>ATM View</h1>

<div class="main">
  <section class="display">
    <h3>> Welcome, {{ this.bankAccount.fname }} !!</h3>
    <h4><span></span></h4>

    <h4>Current Balance: {{ this.bankAccount.balance | currency }}</h4>
  </section>
  <aside class="options">
    <ul class="options-list">
      <li>
        <input
          [(ngModel)]="userInputValue"
          placeholder="Enter $ to deposit / withdraw"
        />
      </li>
      <li class="options-item">
        <button (click)="withdraw()" class="btn">Make a Widthdrawl</button>
      </li>
      <li class="options-item">
        <button (click)="deposit()" class="btn">Deposit Money</button>
      </li>
      <li class="options-item">
        <button (click)="getBalance()" class="btn">Balance Inquiry</button>
      </li>
      <li class="options-item">
        <button (click)="transactions()" class="btn">
          Transactions History
        </button>
      </li>
    </ul>
  </aside>
</div>
<div class="hidden">
  <h4>Recent Transactions</h4>
  <p
    *ngFor="let transaction of this.bankAccount.transactions"
    id="transactionsList"
  >
    {{ transaction.date | date }}
    {{ transaction.type | uppercase }}
    {{ transaction.amount | currency }}
  </p>
</div>
